:root {
    --bg: #ffffff;
    --green: #058E6E;
    --yellow: #FB9C46;
    --black: #000;
    --gray: #90A3B4;
    --yel: #F2BF62;
    --green-b:#407F55;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: 'Vazirmatn', sans-serif;
}

body {
    background-color: var(--bg);
}

main {
    max-width: 380px;
    margin: 20px auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

hr {
    width: 32px;
    height: 3px;
    background-color: var(--yellow);
    border: none;
    border-radius: 50px;
    margin-top: 4px;
    cursor: pointer;
}

.hero {
    display: flex;
    align-items: baseline;
    flex-direction: column;
    margin-top: 90px;

}

.title {
    color: var(--yellow);
    position: relative;
    font-weight: 600;
    display: flex;
    justify-content: end;
    font-weight: 300;
    font-size: 26px;
}

.title::before {
    content: url(../img/Line\ 2.svg);
    position: absolute;
    left: 230px;
    bottom: 6px;
}

span {
    color: var(--yellow);
}

.long-txt {
    margin-top: 30px;
    font-size: 40px;
}

.lorem {
    color: var(--gray);
    font-size: 15px;
    margin-top: 20px;
}

.button {
    border-radius: 7px;
    border: none;
    background-color: var(--green);
    height: 59px;
    width: 239px;
    color: var(--bg);
    margin-top: 30px;
}

.h3l {
    color: var(--yellow);
    font-weight: 100;
    font-size: 10px;
}

.h32 {
    margin-top: 10px;
}

.p-txt {
    color: var(--yellow);
    position: relative;
    font-weight: 600;
    display: flex;
    justify-content: baseline;
    font-weight: 300;
    font-size: 26px;

}

.p-txt::before {
    content: url(../img/Line\ 2.svg);
    position: absolute;
    left: 230px;
    bottom: 6px;
}

.lorem1 {
    font-weight: 100;
    color: var(--gray);
}

.flag {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 10px;
}

.flag2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
}

.matn {
    color: var(--yellow);
    font-size: 20px;
}

footer {
    height: 100vh;
    width: 100%;
    background-color: var(--yel);
    padding: 35px;
    color: var(--bg);
}

.foot-h6 {
    color: var(--bg);
}

.hero-new {
    margin-top: 20px;
}

.find {
    color: var(--bg);
}

.liine {
    color: var(--bg);

}

h3 {
    margin-top: 30px;
    margin-left: 3px;
}

@media only screen and (min-width:900px) {
    main {
        max-width: 1200px;
        margin: 20px auto;
    }

    nav div {
        display: none;
    }
    ul{
        display: flex;
    }
    .active{
        list-style: none;
        justify-content: space-between;
        list-style: none;
    }
    .sin{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--green-b);
        border: none ;
        width: 60px;
        border-radius: 5px;
        height: 30px;
        margin-left: 400px;
    }
    .sis{
        background-color: var(--yellow);
        border: none ;
        height: 30px;
        width: 60px;
        border-radius: 5px;
        margin-right: 100px;
    }
    .image{
        margin-bottom: 100px;
    }
}
